<h1>All Your Students</h1>

<%= link_to "Add a New Student", new_student_path.inspect %>

<% @student.each do |student| %>
  <p><%= student.name %></p>
  <p><%= student.date_of_birth.to_s(:long) %></p>
  <p><%= student.address %></p>
  <p><%= student.phone_number %></p>
  <p><%= student.email_address %></p>
<% end %>
