<h2>All Your Students</h2>

<%= link_to "Add a New Student", new_student_path %>

<% @students.each do |student| %>
  <p>
    <%= student.name %>
    <%= link_to "Edit Student", edit_student_path(student) %>
    <%= link_to "Delete Student", student_path(student), method: :delete %>
</p>
  <p><%= student.date_of_birth.to_s(:long) %></p>
  <p><%= student.address %></p>
  <p><%= student.phone_number %></p>
  <p><%= student.email_address %></p>
<% end %>
