<%= link_to student_logs_path(@student) do %>
  <span aria-hidden="true"><h4 class="nav">&laquo; Back</h4></span>
<% end %>

<%= form_for [@student, @log] do |f| %>
  <p>
    <%= f.label :date_of_contact %>:<br>
    <%= f.date_field :date_of_contact %>
  </p>
  <p>
    <%= f.label :mode_of_contact %>:<br>
    <%= f.select :mode_of_contact, ["phonecall", "email", "in person", "note home", "other"] %>
  </p>
  <p>
    <%= f.label :type_of_contact %>:<br>
    <%= f.radio_button :type_of_contact, "Positive", :checked => true %> Positive
    <%= f.radio_button :type_of_contact, "Negative" %> Negative
    <%= f.radio_button :type_of_contact, "Neutral" %> Neutral
  </p>
  <p>
    <%= f.label :contact_details %>:<br>
    <%= f.text_area :contact_details, :cols => 50, :rows => 10 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
