<%= link_to students_path do %>
  <span aria-hidden="true"><h4 class="nav">&laquo; Back</h4></span>
<% end %>

<h3>
  <%= @student.first_name %> <%= @student.last_name %>'s Contact Logs
</h3>

<h5 class="text-center">
  <%= link_to "Edit Student", edit_student_path(@student) %>
  <%= link_to "Delete Student", student_path(@student), method: :delete %>
</h5>

<div class="student_contact_info">
    <dl class="dl-horizontal">
      <dt>Date of Birth:</dt>
      <dd><%= @student.date_of_birth %></dd>
      <dt>Address:</dt>
      <dd><%= @student.address %></dd>
      <dt>Phone Number:</dt>
      <dd><%= @student.phone_number %></dd>
      <dt>Email Address:</dt>
      <dd><%= @student.email_address %></dd>
    </dl>
</div>

<div class="button_wrapper">
  <h4><button class="btn-lg btn"><%= link_to "Create a new log", new_student_log_path %></button></h4>
</div>

<% @student.logs.each do |log| %>
  <p style="background: <%=log.get_color%>">
    <strong>Date of Contact:</strong>
    <%= log.date_of_contact %> <br>
    <strong>Mode of Contact:</strong>
    <%= log.mode_of_contact %> <br>
    <strong>Type of Contact:</strong>
    <%= log.type_of_contact %> <br>
    <strong>Contact Details:</strong>
    <%= log.contact_details %>
    <%= link_to "Edit Log", edit_student_log_path(@student, log) %>
    <%= link_to "Delete Log", student_log_path(@student, log), method: :delete %>
  </p>
<% end %>
