<%= link_to students_path do %>
  <span aria-hidden="true"><h4 class="nav">&laquo; Back</h4></span>
<% end %>

<h3>
  <%= @student.first_name %> <%= @student.last_name %>'s Contact Logs
</h3>

<h5 class="text-center">
  <%= link_to "Edit Student", edit_student_path(@student) %>
</h5>

<div class="student_contact_info">
    <dl class="dl-horizontal">
      <dt>Date of Birth:</dt>
      <dd><%= @student.date_of_birth %></dd>
      <dt>Address:</dt>
      <dd><%= @student.address %></dd>
      <dt>Phone Number:</dt>
      <dd><%= @student.phone_number %></dd>
      <dt>Email Address:</dt>
      <dd><%= @student.email_address %></dd>
    </dl>
</div>

<div class="button_wrapper">
  <h4><button class="btn-lg btn"><%= link_to "Create a new log", new_student_log_path %></button></h4>
</div>

  <% @student.logs.each do |log| %>
  <ul class="list-group">
    <li class="list-group-item">
      <dl class="dl-horizontal">
        <dt>Date of Contact:</dt>
        <dd><%= log.date_of_contact %></dd>
        <dt>Mode of Contact:</dt>
        <dd><%= log.mode_of_contact %></dd>
        <dt>Type of Contact:</dt>
        <dd><%= log.type_of_contact %></dd>
        <dt>Contact Details:</dt>
        <dd style="width:60%"><%= log.contact_details %></dd>
      </dl>
    </li>
    <li class="list-group-item">
    <%= link_to "Edit Log", edit_student_log_path(@student, log) %>
    <%= link_to "Delete Log", student_log_path(@student, log), method: :delete %>
    <img src="<%=log.get_face%>" style="width:100%;">
    </li>
    </ul>
    <% end %>
