<h2><%= @student.name %></h2>
<h4>
  <%= link_to "Back", students_path %>
</h4>
<h3>Contact Logs</h3>
<h4>
  <%= link_to "Create a new log", new_student_log_path %>
</h4>

<% @student.logs.each do |log| %>
  <p>
    <strong>Date of Contact:</strong>
    <%= log.date_of_contact %> <br>
    <strong>Mode of Contact:</strong>
    <%= log.mode_of_contact %> <br>
    <strong>Type of Contact:</strong>
    <%= log.type_of_contact %> <br>
    <strong>Contact Details:</strong>
    <%= log.contact_details %>
    <%= link_to "Edit Log", edit_student_log_path(@student, log) %>
    <%= link_to "Delete Log", student_log_path(@student, log), method: :delete %>
  </p>
<% end %>
