<!DOCTYPE html>
<html>
<head>
  <title>TeacherFAMConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.edgefonts.net/lato.js"></script>
</head>
<body>
  <header>
    <ul class="left">
      <li>
          <h1 id="logo">
            Teacher<span class="fam">Fam</span>Connect.
          </h1>
      </li>
    </ul>
    <ul class="right">
      <li>
        <% if current_user %>
          <h2>Signed in as: <%= current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, id: "sign_in" %>
            <% else %>
              <%= link_to "Sign up page", new_user_registration_path, class: "sign_in", id: "sign_in" %> |
              <%= link_to "Log in page", new_user_session_path, class: "sign_in", id: "sign_in" %>
          </h2>
        <% end %>
      </li>
    </ul>
  </header>
  <%= yield %>
</body>
</html>
